## MySQL

In [1]:
# 필요한 모듈 임포트
import pymysql

In [2]:
db = pymysql.connect(
    host='127.0.0.1',
    user='homestead',
    passwd='12test34',
    db='homestead',
    charset='utf8'
)

In [3]:
# DB 호스트 연결 및 닫기
db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    print("DB 연결 성공")
except Exception as e:
    print(e) # 오류 내용 츨력
finally:
    if db is not None: # DB 연결 시
        db.close()
        print("DB 연결 닫기 성공")

DB 연결 성공
DB 연결 닫기 성공

In [7]:
# 테이블 생성
db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    sql = '''
    CREATE TABLE tb_student(
        id int primary key auto_increment not null,
        name varchar(32),
        age int,
        address varchar(32)
    )ENGINE=InnoDB DEFAULT CHARSET=utf8
    '''
    # 상호작용을 위한 cursor 객체의 execute 함수로 SQL 구문 실행
    with db.cursor() as cursor:
        cursor.execute(sql)
        
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

In [12]:
# 데이터 삽입
db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    sql = '''
        INSERT tb_student(name, age, address) values('Jin', 18, 'Korea')
    '''
    # 상호작용을 위한 cursor 객체의 execute 함수로 SQL 구문 실행
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()
        
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

In [18]:
# 데이터 수정
db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    id = 2 # 수정 데이터의 id
    sql = '''
        UPDATE tb_student set name="Kim", age=19 where id=%d
    '''% id
    
    # 상호작용을 위한 cursor 객체의 execute 함수로 SQL 구문 실행
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()
        
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

In [21]:
# 데이터 삭제
db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    id = 2 # 수정 데이터의 id
    sql = '''
        DELETE from tb_student where id=%d
    '''% id
    
    # 상호작용을 위한 cursor 객체의 execute 함수로 SQL 구문 실행
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()
        
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

In [30]:
# 데이터 조회
import pymysql
import pandas as pd

db = None
try:
    db = pymysql.connect(
        host='127.0.0.1',
        user='homestead',
        passwd='12test34',
        db='homestead',
        charset='utf8'
    )
    
    # 데이터 db에 추가
    students = [
        {'name':'Kei', 'age':18, 'address':'Busan'},
        {'name':'Tony', 'age':19, 'address':'Busan'},
        {'name':'Jaeyoo', 'age':20, 'address':'GWANGJU'},
        {'name':'Grace', 'age':21, 'address':'SEOUL'},
    ]
    print("생성 성공")
    for s in students:
        with db.cursor() as cursor:
            print("open cursor")
            sql = '''
                INSERT tb_student(name, age, address) values('%s', %d, '%s')
            ''' % (s['name'], s['age'], s['address'])
        cursor.execute(sql)
    db.commit()
    print("insert 성공")
        
    # 10대 학생만 조회
    cond_age = 10
    with db.cursor(pymysql.cursors.DictCursor) as cursor:
        sql = '''
            SELECT * FROM tb_student WHERE age > %d
        ''' % cond_age
    cursor.execute(sql)
    result = curosr.fetchone()
    print(result)
        
    # 이름 검색
    cond_name = 'Jin'
    with db.cursor(pymysql.cursors.DictCursor) as cursor:
        sql = '''
            SELECT * FROM tb_student WHERE name = %s
        ''' % cond_name
    cursor.execute(sql)
    result = curosr.fetchone()
    print(result)
        
except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

생성 성공
open cursor
Cursor closed